/*@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");

@font-face {
  font-family: "Fuggles";
  src: local("Fuggles"), url("Fuggles/Fuggles-Regular.ttf");
}*/

/*Mobile layout*/
@media only screen and (min-width: 374px) and (max-width: 500px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }

  header #hero-image {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }

  #hero-image {
    display: flex;
    background-image: url(img/life.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    background-repeat: no-repeat;

    /*width: 100%;
    height: 400px;
    position: static;*/
  }

  #hero-text {
    background-color: rgb(216, 112, 147);
    color: white;
    font-size: 1em;
    align-self: flex-end;
  }

  article img {
    width: 100%;
    height: 300px;
  }

  /*header h1 {
    position: absolute;
    top: 260px;
    left: 30px;
    background-color: rgb(216, 112, 147);
    color: white;
    font-size: 1.8em;
  }

  header h2 {
    /*position: absolute;
    top: 289px;
    left: 30px;
    background-color: hsl(340, 57%, 64%);
    color: white;
    font-size: 1.7rem;
  }*/
}

/*Tablet Layout*/
@media screen and (min-width: 501px) and (max-width: 778px) {
  body {
    max-width: 800px;
    margin: 0 auto;
  }

  header #hero-image {
    width: 100%;
    height: 400px;
  }

  #hero-image {
    background-image: url(img/life.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  /*header img {
    width: 100%;
    height: 400px;
  }

  header h1 {
    position: absolute;
    top: 60%;
    left: 8%;
    background-color: palevioletred;
    color: white;
  }

  header h2 {
    position: absolute;
    top: 69%;
    left: 8%;
    background-color: palevioletred;
    color: white;
  }*/

  #hero-text {
    position: absolute;
    top: 45%;
    left: 5%;
    background-color: palevioletred;
    color: white;
  }

  article img {
    max-width: 230px;
    height: 200px;
  }

  article {
    font-size: 0.8em;
  }

  #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #article-1 {
    flex-basis: 230px;
    flex-grow: 1;
  }

  #article-2 {
    flex-basis: 230px;
    flex-grow: 1;
  }

  #article-3 {
    flex-basis: 230px;
    flex-grow: 0;
  }

  p {
    width: 230px;
  }
}

/*Desktop Layout*/
@media screen and (min-width: 779px) {
  body {
    max-width: 800px;
    margin: 0 auto;
  }

  header #hero-image {
    width: 800px;
    height: 400px;
  }

  #hero-image {
    background-image: url("img/life.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-content: flex-end;
  }

  #hero-text {
    background-color: palevioletred;
    color: white;
    align-self: flex-start;
    margin-left: 20px;
    margin: 20px;
  }

  /*header img {
    width: 100%;
    height: 400px;
  }

  header h1 {
    position: absolute;
    top: 60%;
    left: 8%;
    background-color: palevioletred;
    color: white;
  }

  header h2 {
    position: absolute;
    top: 69%;
    left: 8%;
    background-color: hsl(340, 57%, 64%);
    color: white;
  }*/

  article img {
    width: 370px;
    height: 300px;
  }

  #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #article-1 {
    flex-basis: 350px;
  }

  #article-2 {
    flex-basis: 350px;
  }

  #article-3 {
    flex-basis: 350px;
  }
}

header #hero-image {
  margin-bottom: 40px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

h1,
h2 {
  margin: 0;
}

article {
  margin-bottom: 30px;
}

article h2 {
  padding-bottom: 20px;
  /*margin-bottom: 20px;*/
}

hr {
  margin-bottom: 30px;
}

footer {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
