body {
  width: 75%;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration-line: none;
}

header a {
  font-family: cursive;
}

#bunga {
  width: 25px;
  height: 25px;
}

nav a {
  /*try to use div tags then use float or display inline*/
  padding-left: 10px;
}

.top {
  border-right-style: solid;
  border-width: 1px;
  border-color: black;
  padding-right: 12px;
}

nav a:link {
  color: rgb(159, 41, 41);
}

nav a:hover {
  color: rgb(15, 155, 236);
}

nav a:active {
  color: rgb(15, 155, 236);
  font-weight: 900;
}

#home {
  width: 100%;
  height: 350px;
  margin-top: 30px;
}

nav {
  float: right;
  /*position: absolute;
  left: 940px;*/
}

.beautiful {
  column-count: 2;
}

#p1 {
  margin-top: 0px;
}

#beautiful {
  width: 100%;
  height: 350px;
}

#cozy {
  width: 100%;
  height: 400px;
}

#about {
  column-count: 2;
}

#aboutus {
  width: 100%;
  height: 300px;
}

form {
  margin-top: 20px;
}

.form1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#send {
  padding-left: 18px;
  padding-right: 18px;
}

#comfort {
  column-count: 2;
  width: 70%;
}

#wool {
  column-count: 2;
  width: 70%;
}

.pic {
  width: 300px;
  height: 200px;
}

aside {
  width: 18%;
  float: right;
  margin-top: 18px;
}

.company {
  width: 30%;
  margin: auto;
  text-align: center;
}

.company p {
  margin-bottom: 5px;
  margin-top: 5px;
}

ul {
  padding-left: 5px;
}

li {
  list-style-type: none;
  list-style-image: none;
}

.cate a:hover {
  color: rgb(15, 155, 236);
}

.cate a:active {
  color: rgb(15, 155, 236);
  font-weight: 500;
}

h3 {
  margin-bottom: 10px;
}

.fancy a {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(213, 226, 238);
  color: black;
}

.fancy a:hover {
  color: rgb(15, 155, 236);
}

.fancy a:active {
  color: rgb(15, 155, 236);
  font-weight: 500;
}

/*.fancy a:visited {
  color: black;
}*/

.fancy1 {
  margin-right: 8px;
  float: left;
}

.fancy2 {
  float: left;
}

.fancy3 {
  margin-top: 8px;
  float: left;
  clear: left;
}

main h2 {
  margin-bottom: 40px;
}

.article2 {
  margin-top: 50px;
}
