body {
  max-width: 800px;
  height: 500px; /*100vh*/
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%; /*7rem auto 7rem*/
}

header {
  background-color: rgb(38, 205, 152);
  grid-column: 1/2;
  /*grid-row: 1/2;   grid row doesnt needed coz already automatically divided by grid template rows on body*/
}

h1 {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  padding: 10px; /*0.526rem * 16 = 10px*/
  background-color: lightsalmon;
  grid-column: 2/4;
  /*grid-row: 1/2;*/
  text-align: end;
}

/*Question: Why these all 3 sections dont need any grid column & row ?*/
#section1 {
  background-color: rgba(243, 127, 235, 0.662);
  padding: 10px;
}

#section2 {
  background-color: rgb(215, 211, 211);
  padding: 10px;
}

#section3 {
  background-color: rgb(110, 142, 223);
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: rgb(235, 235, 176);
  grid-column: 1/4;
  /*grid-row: 3/4;*/
}
