/*.section {
  width: 600px;
  margin: auto;
}

.sec {
  margin-bottom: 50px;
}

.media {
  width: 40%;
  float: right;
}

.text {
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding-right: 30px;
}

.text h2 {
  margin-top: 0;
}*/

.utama {
  width: 600px;
  margin: auto;
}

.text {
  width: 60%;
  float: left;
}

.media {
  width: 40%;
  float: right;
  margin: 0;
}
